.explore_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.explore_plant_container {
  display: grid;
  justify-content: center;
  align-items: center;
}

.explore {
  background-image: url("../img/explore_bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.explore_plant_text {
  color: white;
  font-size: 30px;
  font-weight: 500;
  margin-top: 0;
}
.explore_buttons {
  display: flex;
}
.explore_button {
  background-color: rgba(0, 0, 0, 0.603);
  width: 150px;
  height: 40px;
  font-size: 15px;
  overflow: hidden;
}

@media (min-width: 320px) and (max-width: 480px) {
  .explore_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
